/* Inter */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

/* Outfit */
@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/Outfit-SemiBold.ttf") format("ttf");
  font-weight: 600;
}

/* Plus Jakarta Sans */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/assets/fonts/PlusJakartaSans-Bold.ttf") format("ttf");
  font-weight: 700;
}
