@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --holiday-bg: #fffbeb;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  vertical-align: middle;
}
@page {
  size: A4 landscape;
  margin: 0;
}
body {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.negative-spacing {
  margin-top: -10px; /* adjust as needed */
}
