@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --holiday-bg: #fffbeb;
  }
  
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

@page {
  size: A4 landscape;
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  vertical-align: middle;
}